<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sing Out">
    </form>
</div>
<div>List clients</div>
{{#clients}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{address}}</i>
    </div>
{{/clients}}
<div>
    <form method="post" action="/index">
        <input type="text" name="name" placeholder="Введите название организации"/>
        <input type="text" name="address" placeholder="Введите адрес"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
</div>
<form method="post" action="findClient">
    <input type="text" name="name" placeholder="Введите название организации">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Найти</button>
</form>
</body>
</html>